* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    background-image: url("img/introbg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: whitesmoke;
}

.intro h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
  
}